@charset "UTF-8";
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    -webkit-touch-callout: none;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    margin: 0 auto;
    padding: 0;
    font-family: 'GmarketSansMedium';
}

img {
    image-rendering: auto;
}

a {
	text-decoration: none;
}

#titleDiv {
	background-color: #1e8cfa;
	padding: 20px;
	text-align: center;
}

#titleDiv a {
	color: white;
	font-size: 3em;
	font-weight: bold;
}

#wrap {
    margin: 0 auto;
    width: 70%;
    min-width: 800px;
}

#loginDiv {
	text-align: right;
	margin: 20px 0;
	color: gray;
}

#loginDiv a {
	color: gray;
	margin-left: 5px;
	margin-right: 5px;
}

#loginDiv a:hover {
	color: orange;
}

#menuDiv {
    margin-top: 15px;
    margin-bottom: 15px;
    overflow: hidden;
}

.menuItems {
	display: inline-block;
}

#checkBoxSpn  {
	padding: 10px;
	border: 1px solid lightgray;
	background-color: #efefef;
	text-align: center;
	margin-right: 5px;
}

#checkBoxSpn:hover {
	background-color: lightgray;	
}

.btn {
    width: 100px;
    padding: 10px;
    cursor: pointer;
    outline: none;
    font-family: 'GmarketSansMedium';
}

.fileLabel {
	border: 1px solid #1e8cfa;
    background-color: #1e8cfa;
    color: white;
    font-size: 0.8em;
    padding: 15px 30px;
}

.fileLabel:hover {
	border: 1px solid #0172d5;
    background-color: #0172d5;
}

.fileLabel:active {
	border: 1px solid #1e8cfa;
    background-color: #1e8cfa;
}

#file, #folder {
	display: none;
}

#mkBtn {
	border: 1px solid #feb343;
    background-color: #feb343;
    vertical-align: middle;
}

#mkBtn:hover {
	border-color: #fd9801;
    background-color: #fd9801;
}

#mkBtn:active {
	background-color: #feb343;
}

#delBtn {
	border: 1px solid #333333;
    background-color: #333333;
    color: white;
}

#delBtn:hover {
	border: 1px solid black;
    background-color: black;
}

#delBtn:active {
	border: 1px solid #333333;
    background-color: #333333;
}

#statusDiv {
	margin: 20px 20px 20px 0;
}

#statusSpn1 {
	color: skyblue;
}

#statusSpn2 {
	color: gray;
}

#pathDiv {
    padding: 15px;
    border: 1px solid lightgray;
    letter-spacing: 2px;
}

#pathDiv a {
    color: black;
    text-decoration: none;
}

#pathDiv a:hover {
    text-decoration: underline;
}

#pathDiv a:active {
    font-weight: bold;
}

.noDiv {
	text-align: center;
	padding: 30px;
}

.noSpn {
	color: gray;
	font-size: 1.3em;
}

#contentDiv {
    border: 1px solid #e9e9e9;
    padding: 30px;
    background-color: #f9f9f9;
}

.content {
	min-width: 150px;
	max-width: 150px;
	min-height: 225px;
	margin: 5px;
	display: inline-block;
	vertical-align: middle;
}

.contentAttr {
	border: 1px solid #80c3fd;
	background-color: white;
	cursor: pointer;
}

.contentAttr:hover {
	border: 1px solid #2f9dfc;
	background-color: #80c3fd;
}

.contentAttr:active {
	background-color: white;
}

.checkDiv {
	visibility: hidden;
	text-align: left;
}

.checkBox {}

.innerDiv {
	text-align: center;
    vertical-align: middle;
	overflow: hidden;
}

.infoDiv {
	text-align: center;
}

.fileImg {}

.fileImg img {
    width: 60px;
    margin-top: 20px;
    margin-bottom: 30px;
    position: relative;
}

.fileName {
    margin-top: 15px;
    font-size: 0.8em;
    word-break: break-word;
}

.nameSpn {}

.fileSize {
    margin: 5px;
}

.fileSizeSpn {
    color: gray;
    font-size: 0.9em;
}
